/* BACKGROUND ANIMATION */
.hero-section{
    background: linear-gradient(-45deg,
    orange, green, rgb(0, 162, 255), red    
    );
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* CARD SPREAD ANIMATION!! */
.card {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease;
}

.card-1 { transform: rotate(-6deg); z-index: 4; }
.card-2 { transform: translateX(-5%) rotate(-2deg); z-index: 5; }
.card-3 { transform: rotate(2deg); z-index: 6; }
.card-4 { transform: translateX(4%) rotate(6deg); z-index: 7; }

.group:hover .card-1 { transform: translate(-75%, 16%) rotate(-20deg); }
.group:hover .card-2 { transform: translate(-25%, 8%) rotate(-8deg); }
.group:hover .card-3 { transform: translate(25%, 8%) rotate(-8deg); }
.group:hover .card-4 { transform: translate(75%, 16%) rotate(20deg); }


/* ILLUSTRATION RARE GLARE */
.card-rare{
    cursor:pointer;
    position:relative;
}

.glare{
    position:absolute;
    top:-150%;
    left:-150%;
    width:250%;
    height:250%;
    z-index: 50;


    background: linear-gradient(
        135deg,
        transparent 42%,
        rgba(255,255,255,.0) 46%,
        rgba(255,255,255,.65) 50%,
        rgba(255,255,255,.0) 54%,
        transparent 58%
    );

    transform: rotate(0deg);
    transition: transform 1.5s ease, top 1.5s ease, left 1.5s ease;
    pointer-events:none;
}

.card-rare:hover .glare{
    top:100%;
    left:100%;
}

/* REGISTER PAGE ANIMATION */
@keyframes brendanMove{
    0%{
        left:100%;
    }
    100%{
        left:-100%;
    }
}

@keyframes brendanChange{
    0%,49.99%{
        background-image: url('/static/registerpage/brendan1.png');
    }
    50%,100%{
        background-image: url('/static/registerpage/brendan2.png');
    }
}
@keyframes latiosFly{
    0%{
        top:12rem;
        left:16rem;
    }
    20%{
        top:10rem;
        left:20rem;
    }
    40%{
        top: 14rem;
        left:24rem;
    }
    60%{
        top: 9rem;
        left:19rem;
    }
    80%{
        top: 13rem;
        left:14rem;
    }
    100%{
        top:12rem;
        left:16rem;
    }
}

@keyframes latiasFly{
    0%{
        top:16rem;
        right:15rem;
    }
    20%{
        top:19rem;
        right:20rem;
    }
    40%{
        top:17rem;
        right:25rem;
    }
    60%{
        top:12rem;
        right:19rem;
    }
    80%{
        top:17rem;
        right:13rem;
    }
    100%{
        top:16rem;
        right:15rem;
    }
}

.brendan{
    z-index: 4;
    position: absolute;
    top:40rem;

    image-rendering: pixelated;

    animation:
        brendanMove 30s linear infinite,
        brendanChange 5s steps(1) infinite;
}

.latios{
    image-rendering: pixelated;
    top:12rem;
    left:16rem;

    animation: latiosFly 15s linear infinite;
}

.latias{
    image-rendering: pixelated;
    top:16rem;
    right:15rem;

    animation: latiasFly 15s linear infinite;
}

@keyframes Move{
    0%{
        background-position-x:100;
    }
    100%{
        background-position-x:1000px;
    }
}

.forest{
    image-rendering: pixelated;
    animation: Move 40s linear infinite;
}

.grass{
    image-rendering: pixelated;
    animation: Move 20s linear infinite
}