<!DOCTYPE html>
{% load tailwind_cli %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% tailwind_css %}
</head>
<body class="bg-blue-300">
    <div class="container mx-auto px-4 bg-blue-300">
        {% block content %}
        <div class="h-23 w-20 bg-blue-50">
            <!--logo-->
            <div>
                <h1>Pokebid</h1>
                <p>Sign in to your account</p>
            </div>

            <!--login in form-->
            <form method="POST">
                {% csrf_token %}

                <!--username field-->
                <div>
                    <label for="username">Username</label>
                    <input
                        type="text"
                        name="username"
                        id="username"
                        placeholder="Enter your username"
                        required
                    >
                </div>
                <!--password field-->
                <div>
                    <label for="password">Password</label>
                    <input
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Enter your password"
                        required
                    >
                </div>
                <!--error message-->
                {% if form.errors %}
                    <div>
                        <p>Invalid username or password. Please try again</p>
                    </div>
                {% endif %}

                <!--submit button-->
                <div>
                    <button type="submit">Sign in</button>
                </div>

                <!--register link if user doesn't have account-->
                <div>
                    <p>Don't have an account?
                        <a href="{% url 'shop-register' %}">Register here!</a>
                    </p>
                </div>
            </form>
        </div>

        {% endblock %}
        <!-- <h1 class="text-red-950">login page!!</h1> -->
    </div>
</body>
</html>