<!DOCTYPE html>
{% load tailwind_cli %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/animations.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Passion+One:wght@400;700;900&family=Slackey&display=swap" rel="stylesheet">

</head>
<body class="p-0 m-0">

    <!-- 
    Log in page front-end
    Author: Ivonne Flores
    Date created: 4/15/2026
    -->

    <!-- background elements -->
    <div
        class="relative flex bg-repeat bg-contain w-full min-h-screen z-[1] overflow-hidden"
        style="background-image: url('{% static "registerpage/background.png" %}');">
        <div
            class="absolute bg-repeat-x bg-contain w-full min-h-screen z-[2] top-0 left-0 translate-y-12 forest"
            style="background-image: url('{% static "registerpage/forest.png" %}')">
        </div>

        <div
            class="absolute bg-repeat-x bg-contain w-full min-h-screen z-[3] top-0 left-0 translate-y-30 grass"
            style="background-image: url('{% static "registerpage/grass.png" %}')">
        </div>
<!-- brendan, latios, latias -->
        <div
            class="absolute bg-contain bg-no-repeat bg-center w-32 h-32 z-[4] brendan"
            style="background-image: url('{% static "registerpage/brendan1.png" %}')">
        </div>
        <div class="absolute bg-contain bg-no-repeat bg-center w-60 h-60 z-[4] latios"
            style="background-image: url('{% static "registerpage/latios.png" %}')">
        </div>
        <div class="absolute bg-contain bg-no-repeat bg-center w-60 h-60 z-[4] latias"
            style="background-image: url('{% static "registerpage/latias.png" %}')">
        </div>

        <!-- login / register window -->
        {% block content %}
        <div class="absolute flex flex-col inset-0 items-center justify-center z-[99]">
            <div class="flex flex-col w-125 h-160 bg-white rounded-xl items-center overflow-hidden">
                <!-- logo container & name -->
                <a href="{% url 'shop-home' %}">
                    <div class="bg-black flex flex-row w-140 h-25 items-center justify-center cursor-pointer">
                        <img src="{% static 'homepage/PokeBid.png'%}" class="h-20"/>
                        <span class="text-[#fdbd0c] font-[Slackey] text-3xl">PokeBid</span>
                    </div>
                </a>

            <!-- "title" container -->
            <div class="py-4 mt-3">
                <span class="text-4xl font-[PT_Sans] font-bold">Sign up</span>
            </div>

            <!-- form container -->
            <div class="flex-1 flex text-lg font-[PT_Sans] justify-center w-90">
                <form method="POST" 
                    class="w-full flex flex-col gap-4 ">
                    {% csrf_token %}

                    <!--username field-->
                    <div class="mt-2">
                        <label for="username"
                            class="block">
                            Username:
                        </label>
                        <input
                            class="w-full pl-3 placeholder:text-zinc-400 text-zinc-700 text-md focus:outline-none focus:border-slate-400 rounded-2xl border-2 border-slate-200"
                            type="text"
                            name="username"
                            id="username"
                            placeholder="Enter your username"
                            required
                        >
                    </div>
                    <!--password field-->
                    <div>
                        <label for="password1"
                            class="block">
                            Password:
                        </label>
                        <input
                            class="w-full pl-3 placeholder:text-zinc-400 text-zinc-700 text-md focus:outline-none focus:border-slate-400 rounded-2xl border-2 border-slate-200"
                            type="password"
                            name="password1"
                            id="password1"
                            placeholder="Create password"
                            required
                        >
                    </div>
                    <div>
                        <label for="password2"
                            class="block">
                            Password:
                        </label>
                        <input
                            class="w-full pl-3 placeholder:text-zinc-400 text-zinc-700 text-md focus:outline-none focus:border-slate-400 rounded-2xl border-2 border-slate-200"
                            type="password"
                            name="password2"
                            id="password2"
                            placeholder="Confirm password"
                            required
                        >
                    </div>
                    <!--error message-->
                    {% if form.errors %}
                        <div>
                            <p>Invalid username or password. Please try again</p>
                        </div>
                    {% endif %}

                    <!--submit button-->
                    <div class="w-full flex justify-center items-center mt-4">
                        <button type="submit"
                            class="w-full bg-amber-400 text-white rounded-full px-4 py-2 text-md cursor-pointer hover:bg-amber-500">
                            Sign in
                        </button>
                    </div>

                    <!--register link if user doesn't have account-->
                    <div>
                        <p class="flex justify-center items-center">Don't have an account?
                            <a href="{% url 'shop-register' %}"
                            class="pl-1 text-amber-400 transition duration-300 hover:text-amber-500 hover:underline">
                            Register here!
                        </a>
                        </p>
                    </div>
                </form>

            </div>
            </div>
        </div>
        {% endblock %}
    </div>


</body>
</html>